/* styles.css */
.title-container {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}
.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.registration-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-register, .btn-connexion {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-connexion {
  background-color: #555;
}
