/* Styles pour la page de projet */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.project-list {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}

.project-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-list p {
  margin: 5px 0;
}

.project-link {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.project-link:hover {
  background-color: #0056b3;
}

.import-section {
  margin-top: 20px;
  text-align: center;
}

.input-file {
  display: none;
}

.custom-input-file {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.custom-input-file:hover {
  background-color: #0056b3;
}

.btn-import {
  background-color: #084107;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-import:hover {
  background-color: #052705;
}

/* ... (autres styles spécifiques) ... */
