/* styles.css */

.container {
  text-align: center;
  background-color: #f8f8f8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.home-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.home-form input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  margin: 10px 0;
}

.project-link {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-import {
  background-color: #084107;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.input-file {
  display: none;
}

.custom-input-file {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-input-file:hover {
  background-color: #0056b3;
}

